<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Elisa Mérida Coronel y Sofía Vidal Urriza.
</p>

<img src="/images/elisa.jpg" />
<img src="/images/foto.PNG" />
<p>
    El link al repositorio que aloja esta práctica:
   <a href="https://github.com/elisamerida/quiz_2017">https://github.com/elisamerida/quiz_2017</a>
</p>

