<!DOCTYPE html>
<html>

<h1>Ayuda</h1>

<p> ¿Qué es un Quiz?</p>
<p>Un quiz es un tipo de juego , concurso o competencia de preguntas en el cual los jugadores intentan responder de  forma correcta y concisa una serie de preguntas</p>
<p>¿Cómo responder a las preguntas?
<p>Sobre la página (link) de preguntas aparece una lista de preguntas. Para responder el jugador ha de pulsar en la pregunta que desea contestar y posteriormente introducir la respuesta en el cuadro de texto que aparecerá (Las preguntas deben estar ortográficamente bien para que la respuesta se de por correcta)</p>
<p> ¿Cúal es el objetivo del portal?</p>
<p> El onjetivo del portal es contestar al mayor número posible de preguntas correctamente</p> 
</html>
